<div class="table-responsive">
    <table class="table table-bordered table-striped mt-4">
        <caption class="caption-top">Latest Transactions</caption>
        <thead>
            <tr>
                <th>Concept</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let balance of latestBalances">
                <td>{{balance.concept}}</td>
                <td>{{balance.amount}}</td>
                <td>{{balance.createdAt}}</td>
                <td>{{balance.transactionType}}</td>
            </tr>

        </tbody>
    </table>
</div>