<div class="container">
    <div class="d-flex justify-content-center full">
        <div class="card align-self-center flex-grow-1">
            <div class="card-header">
                <h3 class="card-title">Register</h3>
            </div>
            <div class="card-body  pb-0">
                <form class="form" #signInForm="ngForm" (ngSubmit)="signin()">
                    <div class="form-group">
                        <label class="form-label" for="username">Username:</label>
                        <input type="text"
                         class="form-control"
                         name="username" 
                         placeholder="Username"
                         #username="ngModel"
                         [(ngModel)]="user.username"
                         required
                         autofocus>
                         <div *ngIf="username.invalid && (username.dirty || username.touched)">
                            <p *ngIf="username.errors?.required" class="font-weight-bold text-warning">Username is required.</p>
                            <p *ngIf="username.errors?.username" class="font-weight-bold text-warning">Invalid username.</p>
                         </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="form-label">Password:</label>
                        <input type="password"
                         class="form-control"
                         name="password"
                         placeholder="Password"
                         #password="ngModel"
                         [(ngModel)]="user.password"
                         required
                         autofocus>
                         <div *ngIf="password.invalid && (password.dirty || password.touched)">
                            <p *ngIf="password.errors?.required" class="font-weight-bold text-warning">Password is required.</p>
                         </div>
                    </div>
                    <p *ngIf="isSigninValid == false">Username or password are wrong. Please try again.</p>
                    <button class="btn btn-primary btn-block mt-2" 
                    type="submit"
                    [disabled]="!signInForm.form.valid">Register</button>
                    <p class="mt-3 mb-2">Already have an account? <a routerLink="/login">Login</a></p>
                </form>
            </div>
        </div>
    </div>
</div>